/* Bonfire Layoout Code
 * -----------------------------------------------
 * Major changes will break things. Please only 
 * edit variables unless you know what you are 
 * doing. 
 */

:root { 
    --groups-bar-width: 4rem;

    --large-margin: 0.75rem;
    --large-padding: 0.75rem;

    --standard-margin: 0.5rem;
    --standard-padding: 0.5rem;

    --small-margin: 0.25rem;
    --small-padding: 0.25rem;
}

*, *::before, *::after { 
    box-sizing: border-box;
    -webkit-margin-collapse: collapse;
    margin-collapse: collapse;
    margin: 0;
}

app { 
    display: grid;

    grid-template-columns: var(--groups-bar-width) var(--channels-bar-width) 1fr;
    grid-template-rows: 1fr var(--groups-bar-width);

    grid-template-areas: 
    "groups channels messages"
    "profile profile messages";

    height: 100dvh;
}

:not(.allow-rich-formatting) ul { 
    list-style: none;
    margin-left: -2.5rem;
}

:not(.allow-rich-formatting) :is(h1, h2, h3, h4, h5, h6) { 
    font-size: 1rem;
    font-weight: 400;
}

[role="groups"] { grid-area: groups; }
[role="channels"] { grid-area: channels; }
main { grid-area: messages; }
[role="profile"] { grid-area: profile; }

[role="groups"] { 
    display: flex;
    flex-direction: column;
}

[role="groups"] ul { 
    /* I don't know why, I can't know why, I shouldn't have to wonder why,
    but the icons are cut in half when we don't multiply by 2 */
    width: calc(var(--groups-bar-width) * 2);

    overflow-x: visible;
}

[role="groups"] ul:nth-of-type(1) { 
    height: max-content;
    max-height: 15rem;
}

[role="groups"] ul:nth-of-type(2) { 
    flex-grow: 1;
}

[role="groups"] * { 
    background-size: cover;

    display: block;

    width: calc((var(--groups-bar-width) / 4) * 3);
    height: calc((var(--groups-bar-width) / 4) * 3);

    overflow-y: scroll;
}

[role="groups"] li { 
    margin: calc(var(--groups-bar-width) / 8)
}

[role="groups"] hr, .absolute-pane hr { 
    /* width: 80%; */
    height: 0px;
    padding: 0;

    border: 1px solid var(--channels-bar-color);
}

main { 
    display: grid;
    grid-template-rows: 2.5rem 1fr auto;

    overflow: hidden;
}

main > ul { 
    padding: 0 3rem;
}

main time { 
    margin-left: var(--standard-margin);
    font-size: 0.8rem;
    margin-top: 3px;
    opacity: 0;
}

.author { 
    margin-bottom: 0.25rem;
}

main ul { 
    overflow: scroll;
}

.message:hover time { 
    margin-left: var(--standard-margin);
    font-size: 0.8rem;
    margin-top: 3px;
    opacity: 1;
}

.message { 
    display: grid;

    grid-template-columns: 4rem 1fr;
    margin: var(--message-spacing) 0px;
}

.message-area { 
    display: flex;
    background: transparent;
}

.pfp { 
    width: 3rem;
    height: 3rem;
    background-size: cover;
    border-radius: var(--border-icon-radius);
}

.content text { 
    display: block;
}

.expandable-textarea {
    --message-box-buttons: 1;

    margin: 0.5rem 0px;

    resize: none;
    font-family: inherit;
    font-size: inherit;
    padding: var(--standard-padding);

    display: block;
    width: calc(100% - 1rem - (var(--round-button-size) * var(--message-box-buttons)));
    /* width: calc(100% - 1rem - 8rem); */
    overflow-y: scroll;
    overflow-x: hidden;
    resize: none;

    max-height: var(--textarea-max-height);
    min-height: var(--round-button-size);
    line-height: 20px;

    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;

    cursor: text;
}

.expandable-textarea:empty::after { 
    --placeholder-message: "Send a message...";
    content: var(--placeholder-message);
}

header { 
    display: flex;
    font-family: var(--display-font);
}

.med-padding /* DEPRECATE MAYBE?*/ { 
    padding: var(--standard-padding);
}

vr { 
    border-left: 1px solid var(--border-color);
    border-right: transparent;

    margin: 0px var(--standard-margin);

    height: 90%;
}

button { 
    cursor: pointer;
}

svg { 
    margin-top: 2px;

    width: 1rem;
    height: 1rem;
}

main li { 
    margin: var(--standard-margin);
}

.button-rect-large { 
    padding: .5rem 1rem;
}

.button-rect { 
    padding: .35rem 1rem;
    font-size: 1rem;
    margin: var(--small-margin);
}

.button-rect-small { 
    padding: .25rem 0.75rem;
    font-size: 0.9rem;
    margin: 0.5rem 0.35rem;
}

.button-danger-wait {
    background-size: 200% 100%;
    -webkit-transition: background-position 2s;
    -moz-transition: background-position 2s;
    transition: background-position 2s;

    text-shadow: 0px 0px 4px var(--ui-box-color);
}

.button-danger-wait:hover {
    background-position: -100% 0%;
}

@media (max-width: 800px) {
    body {
    flex-direction: column;
    }
}

.radio-option { 
    display: flex;
}


.radio-option > * { 
    display: block;
}

.radio-option label { 
    flex-grow: 1;
}

.context-menu { 
    display: flex;
    flex-direction: column;

    margin: var(--small-margin);
    padding: var(--standard-padding);
    padding-left: 2.5rem;
}

.context-menu li { 
    margin: 0;
    display: block;
}
.context-menu a { 
    display: flex;
}

.context-menu svg { 
    margin-left: auto;
}

.context-menu input { 
    margin-left: 0 !important;
    margin-right: -3px;
}

.context-menu label { 
    flex-grow: 1;
}

.absolute-pane { 
    position: absolute;
}

.absolute-pane > * { 
    display: none;
}

.absolute-pane > .visible { 
    display: block;
}

.absolute-pane /*in the ass to get working*/ { 
    position: absolute;
    isolation: isolate;
    z-index: 9999;

    pointer-events: none;

    width: 100vw;
    height: 100vh;
}

.absolute-pane > * { 
    pointer-events: all;
}

.absolute-pane button { 
    width: 100%;
    font-size: 1rem;
    padding: 0.25rem var(--standard-padding);
    height: auto;
}

.modal { 
    display: block;

    width: var(--context-menu-width);

    display: flex;
    flex-direction: column;

    margin: var(--small-margin);
    padding: var(--standard-padding);
    padding-left: 2.5rem;
}


.absolute-pane svg, .absolute-pane input { 
    margin-left: auto;
}

.context-menu button { 
    display: flex;
}

app, .absolute-pane { 
    overflow: hidden;
}


/* slider base code from https://www.w3schools.com/howto/howto_js_rangeslider.asp */

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 5px;  
    background: var(--input-bg);
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%; 
    background: var(--accent-fg);
    cursor: pointer;
    border: 0;
    outline: 0;
}

input[type="range"]::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--accent-fg);
  cursor: pointer;
  border: 0;
    outline: 0;
}


@supports (-webkit-appearance: none) or (-moz-appearance: none) {
input[type=checkbox], 
input[type=radio] { 
    appearance: none;
    
    height: 21px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}
input[type=checkbox]:after,
input[type=radio]:after {
    content: "";

        /* content: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>';  */

    display: block;
    left: 0;
    top: 0;
    position: absolute;

    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
}
input[type=checkbox]:checked,
    input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
}
input[type=checkbox]:disabled,
input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.75;
}
input[type=checkbox]:disabled:checked,
input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
}
input[type=checkbox]:disabled + label,
input[type=radio]:disabled + label {
    cursor: not-allowed;  
}
input[type=checkbox]:hover:not(:checked):not(:disabled),
input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
}
input[type=checkbox]:focus,
input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
}
input[type=checkbox]:not(.switch),
input[type=radio]:not(.switch) {
    width: 21px;
}
input[type=checkbox]:not(.switch):after,
input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
}
input[type=checkbox]:not(.switch):checked,
input[type=radio]:not(.switch):checked {
    --o: 1;
}
input[type=checkbox] + label,
input[type=radio] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
}

input[type=checkbox]:not(.switch) {
    border-radius: var(--border-radius);
}
input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
}
input[type=checkbox]:not(.switch):disabled:after { 
    --active-inner: var(--active)
}
input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
}
input[type=checkbox].switch {
    width: 38px;
    border-radius: 11px;
}
input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--inactive-inner));
    transform: translateX(var(--x, 0));
}
input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
}
input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
}
label { 
    cursor: pointer;
}
input[type=radio] {
    border-radius: 50%;
    margin-right: var(--small-margin);
}
input[type=radio]:not(:checked) {
    border: 1px solid var(--muted-fg);
}
input[type=radio]:after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
}
input[type=radio]:checked {
    --r: 43deg;
  --s: .5;
}
}

/* mine again :3 (also its now sorted again) */

.radio-option { 
    padding: var(--standard-padding);
    margin: var(--small-margin);

    display: flex;

    border-radius: var(--border-radius);
    background: var(--box-fg);
}

hr { 
    /* width: 80%; */
    height: 0px;
    margin: 0.15rem;
    padding: 0;

    border: 1px solid var(--border-fg);
}

[role="groups"] hr { 
    margin: 10% 0.5rem;
}

.message-box .expandable-textarea:empty::after { 
    --placeholder-message: "Send a message...";
}

.message-box .expandable-textarea:not(:empty)::after { 
    --placeholder-message: "";
}

.context-menu { 
    --context-menu-width: calc(var(--channels-bar-width) + 2rem);

    border-radius: var(--border-radius);
    padding: var(--small-padding);
}

a.author { 
    color: transparent;

    background-clip: text !important;
    -webkit-background-clip: text !important;
    background: linear-gradient(to right, var(--color-1), var(--color-2), var(--color-1));
    background-size: 200%;
}

@keyframes mymove {
    from { 
        background-position: 0%;
    }

    to { 
        background-position: 200%;
    }
}

.author.can-gradient-slide:hover {
    animation: mymove 5s infinite;
}

.author:hover { 
    color: transparent;
    opacity: 1;
}

::selection { 
    background: var(--accent-bg);
}

app { 
    background: var(--app-bg);
    font-family: var(--font-main);
    color: var(--app-fg);
    background-size: cover;
}

a { 
    color: var(--accent-fg);
    text-decoration: var(--link-decoration);
}

.main-content { 
    background: var(--main-bg);
}

nav * { 
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

nav *::-webkit-scrollbar {
  display: none;
}

[role="groups"] { 
    background: var(--groups-bar-bg);
    color: var(--groups-bar-fg);
}

[role="groups"] li { 
    border-radius: var(--border-icon-radius);
}

[role="channels"] { 
    background: var(--channels-bar-bg);
}

main { 
    scrollbar-color: var(--ctp-mocha-sapphire) var(--ctp-mocha-base);
    background: var(--main-content-color);
}

main > header { 
    background: var(--header-bar-bg);
}

time { 
    color: var(--muted-fg);
}

main ul { 
    scrollbar-color: var(--accent-fg) var(--base-color);
}

.message-area { 
    border-top: 1px solid var(--border-fg);
    background: var(--message-area-bg);
}

.expandable-textarea {
    background: var(--box-bg);
    border-radius: var(--border-radius);
}

.expandable-textarea::after { 
    content: var(--placeholder-message);
    color: var(--muted-fg);
}

header button { 
    background: transparent;
    width: calc(var(--groups-bar-width) / 4 * 1.5 );
    height: calc(var(--groups-bar-width) / 4 * 1.5 );
}

.round-button { 
    width: var(--round-button-size);
    height: var(--round-button-size);

    margin: var(--standard-margin);

    border-radius: var(--border-icon-radius);
}


header { 
    font-family: var(--display-font);
}

[role="profile"] { 
    background: var(--channels-bar-bg);
}

.muted { 
    color: var(--muted-fg);
}

header vr + * {
    margin-left: auto;
} 

svg { 
    fill: var(--app-fg);
}

*:hover > svg { 
    fill: var(--accent-fg);
}

button { 
    background: var(--box-bg);
    border: 0;
}

.button-rect { 
    border-radius: var(--border-radius);
    color: var(--app-fg);
}

.button-normal:hover { 
    background: var(--accent-bg);
}

.button-cta { 
    /* background: var(--accent-fg); */
    border: 1px solid var(--accent-fg);
}

.button-cta:hover { 
    background-color: var(--accent-bg);
}

.button-danger-wait {
    background-image: linear-gradient(to right, var(--box-bg) 50%, var(--danger-bg) 50%);
    color: var(--danger-fg);
}

.button-danger-wait:hover {
    color: var(--danger-fg);
}

.button-danger { 
    color: var(--danger-fg);
}

.button-danger:hover { 
    background: var(--danger-bg);
}

.button-text { 
    background: transparent;
    color: var(--app-fg);
}

.button-text:hover { 
    text-decoration: underline;
    color: var(--app-fg);
}

/* ********* COPYPASTA STARTS ************ */

/* FROM CSSTRICKS @ https://css-tricks.com/custom-styling-form-inputs-with-modern-css-features/ OR https://codepen.io/aaroniker/pen/ZEYoxEY (it's literally 1:1 minus some variables and pickey tweaks) */

/* TODO: Fix the colors, they are just temperary rn */
/* TODO: Not yet sortted into "layout" and "visual" */

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type=checkbox]:disabled,
    input[type=radio]:disabled {
        --active-inner: var(--mocha-blue);
        opacity: .6;
    }

    input[type=checkbox],
    input[type=radio] {
    --active: var(--input-fg);
    --active-inner: var(--input-bg);
    --inactive-inner: var(--input-fg); 
    --border: var(--input-bg); 
    --border-hover: var(--input-fg);
    --background: var(--input-bg); 

    --disabled: var(--active-bg);
    --disabled-inner: var(--groups-bar-bg);
    }
}


.context-menu { 
    --context-menu-width: calc(var(--channels-bar-width) + 2rem);

    background: var(--box-bg);
    width: var(--context-menu-width);
}

.context-menu li:hover { 
    background: var(--overlay-bg);
    border-radius: var(--border-radius);
}

.absolute-pane button { 
    text-align: left;
    color: inherit;

    background: inherit;
    border-radius: var(--border-radius);

    transition: 50ms;
}

.absolute-pane button:hover { 
    background: var(--overlay-bg);
}

.modal { 
    box-shadow: 4px 0px 0px 10000rem var(--dialogue-darken);
    background: var(--box-fg);
    border-radius: var(--border-radius);
}

.danger, .danger svg { 
    color: var(--danger-fg);
    fill: var(--danger-fg);
}

a { 
    text-decoration: none;
    color: var(--accent-fg);
    cursor: pointer;
}

a:hover { 
    text-decoration: none;
    color: var(--accent-fg);
    opacity: .7;
}

pre, code { 
    border-radius: var(--border-radius);
}

header, 
h1,   h2,  h3,  h4,  h5,  h6,
.h1, .h2, .h3, .h4, .h5, .h6  { 
    font-family: var(--font-display );
}

app script { 
    display: block;

    border: 2px solid var(--danger-fg);
}

app script::before { 
    border-bottom: 2px solid var(--danger-fg);
    display: block;
    content: "THIS IS A SCRIPT THAT WAS INJECTED BY SOMEONE IN THIS CHAT. We have done our best to prevent this sort of data injection and drive-by attacks, but the script may be live. Please report this vulnerability to https://github.com/tryoxiss/bonfire-server. It dosent matter if you don't know how it happened. ";
}

[role="profile"] { 
    display: grid;
    grid-template-columns: 4rem 1fr;
}

[role="profile"] > * { 
    margin: 0.5rem;
    margin-right: 0px;
}

[role="profile"] .content { 
    margin: 0.5rem 0px;
    margin-right: 0.5rem;
    padding: 0.25rem;
}

[role="profile"] .content * { 
    margin: 0px;
}

[role="profile"]:hover { 
    background-color: var(--main-bg);
    cursor: pointer;
}

.pfp { 
    position: relative;

    --status-color: var(--default-yellow-1);
}

/* TODO: --border-icon-radius is DEPRCIATED. it should be replaced with whatever the new one is called. */
.pfp svg { 
    position: absolute;
    bottom: 0;
    right: 0;

    background-color: var(--channels-bar-bg);
    padding: 2px;
    border-radius: var(--border-icon-radius);

    fill: var(--status-color)
}