/* THEME STYLES: This is here because it is the defult, normally this would be 
an external stylesheet on the users computer in the app. Custom themes are not 
supported on the web client version*/
[theme~="ctp-mocha"] {
    /* Colors source: https://github.com/catppuccin/catppuccin#-palette */

    /* Default colors for roles and other uses. */
    /* For roles and such custom clors are also allowed, but you can force them
     * to fall back to your defaults if you woud like (Not Reccommended). 
     * This can be adjusted per-group of course. 
     * 
     * Thesse are also used if you want to color channels, etc. */
    --default-red-1: rgb(243, 139, 168);
    --default-red-2: rgb(235, 160, 172);

    --default-orange-1: rgb(250, 179, 135);
    --default-orange-2: rgb(255, 210, 183);

    --default-yellow-1: rgb(249, 226, 175);
    --default-yellow-2: rgb(255, 239, 204);

    --default-green-1: rgb(166, 227, 161);
    --default-green-2: rgb(148, 226, 213);

    --default-blue-1: rgb(137, 220, 235);
    --default-blue-2: rgb(116, 199, 236);

    --default-violet-1: rgb(137, 180, 250);
    --default-violet-2: rgb(180, 190, 254);

    /* All the rest of the variables ARE used by code and changing their 
     * names WILL break things. */

    /* 'Atkinson Hyperlegible', */
    --font-main: 'Atkinson Hyperlegible', 'Noto Sans', sans-serif;
    --font-display: inherit; /* Used in header bars */
    --font-code: 'Hack', monospace;
    --font-small: inherit; /* If you want a diffrent font for small text */

    --font-size: 1rem;
    --font-size-small: 0.8rem; 

    --message-spacing: 0.5rem;

    --link-decoration: ;

    /* ABBRIVIATION KEYS
     * -----------------
     * bg = background (gradients allowed)
     * fg = foreground (text, generally. everything has this field even if unused)
     * fg will be overridden sometimes with the text muted color.
     */

    --border-fg: rgb(24, 24, 37);
    --border-fg-2: rgb(17, 17, 27);
    --border-icon-radius: 100vmax; /* Always circle or capsule */
    --border-radius: 6px;

    --accent-fg: rgb(116, 199, 236);
    --accent-bg: rgb(116, 199, 236, 0.25); /* Hilight color */

    --danger-fg: rgb(243, 139, 168);
    --danger-bg: rgb(243, 139, 168, 0.25);

    --safe-fg: rgb(166, 227, 161);
    --safe-bg: rgb(166, 227, 161, 0.25);

    /* Color that is used to shift emphisis away from less important text, for
     * example placeholder text, the @ or # before channel names, etc. */
    /* --muted-fg: rgb(161, 168, 201);  */
    --muted-fg: rgb(198, 208, 245, 0.5);

    /* Solid color, gradient, or image. If using a gradient or image, please 
     * keep in mind that every element (that total to the entire screen) have 
     * thier own backgrounds so we reccommend you lower the opacity of the 
     * other -bg colors. 
     */

    /* From unsplash.com */
    --app-bg: url('https://images.unsplash.com/photo-1531366936337-7c912a4589a7');;
    --app-fg: rgb(198, 208, 245);

    --groups-bar-bg: rgb(17, 17, 27, 1);
    /* --groups-bar-fg: inherit; No foreground for the groups bar */

    --channels-bar-bg: rgb(24, 24, 37, 1);
    --channels-bar-fg: inherit;

    --main-bg: rgb(30, 30, 46, 1);
    --main-fg: inherit;

    --header-bar-bg: var(--channels-bar-bg);
    --header-bar-fg: inherit;

    --message-area-fg: inherit;
    --message-area-bg: var(--main-bg);

    --box-fg: inherit;
    --box-bg: rgb(24, 24, 37);

    --input-fg: var(--accent-fg);
    --input-bg: rgb(17, 17, 27);

    /* Popup menus, etc. Not tooltips sadly because tippy dosen't like variables. */
    --overlay-bg: rgb(30, 30, 46);
    --overlay-fg: rgb(7, 7, 17);

    /* The color that fills the screen behind the dialogue or popup. It is 
     * reccommended it be semi-transparent with rgb(r, g, b, opacity) */
    --dialogue-darken: rgb(0, 0, 0, 0.45);
    --dialogue-blur: ; /* Background blur for dialogues */

    /* More layout-ie things */
    --channels-bar-width: clamp(12rem, 13.5vw, 30rem);
    --textarea-max-height: 70vh;
    --round-button-size: 2.25rem;
    /* TIPPY NEEDS HARD-CODED VALUES AND WILL NOT ACCEPT VARIABLES */
}

.dyslexic-font { 
    --font-main: 'Atkinson Hyperlegible';
}

main { 
    scrollbar-width: 6px;
}

.author { 
    font-weight: bold;
}

main ul { 
    scrollbar-width: 6px;
}

.expandable-textarea {
    --message-box-buttons: 1;
}

ul { list-style:disc; } /* TO ALL UL LEVELS */
ol { list-style: decimal; }
ol > ol { list-style: lower-alpha; }
ol > ol > ol { list-style: decimal; }
ol > ol > ol > ol { list-style: lower-roman; }

/* ☢️ You're playing a dangrous game, girl!
 * -----------------------------------------
 * Removing the outline on content makes it harder for people who 
 * navigate with 
 * keyboard as they can't see where the focus is. 
 * 
 * In this case, it should be fine as the cursor indicator is
 *  present but avoid doing this in any other case unless you 
 * re-implement a focus state. 
 * 
 * And no, since this is conteneditable :focus-visible is the 
 * defult and won't work because of that.
 */
.expandable-textarea:focus { 
    outline: 0; /* See above warning */
}
.button-rect {
    text-shadow: 0px 0px 4px var(--box-bg);
}

/* ADD CLASSES */

.my-message {}
.bot-message {}
.ping-message {}


header time { 
    height: 1rem;
}

.allow-headings h2 { 
    font-size: 1.05rem;
    font-weight: bold;
}

.settings-menu li { 
    padding-bottom: 0.25rem;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

.flex-container { 
    display: flex;
}

.flex-force-seccond-item-right *:nth-child(2) { 
    margin-left: auto;
}

.author { 
    /* Set --color-1 and --color-2 in the html like so: 
     * style="--color-1: red; --color-2: purple;" 
     * to not have a gradient, make both colors the SAME. */
    /* --color-1: purple;
    --color-2: blue; */

    --color-1: var(--app-fg);
    --color-2: var(--app-fg);

    /* --color-1: var(--default-blue-1);
    --color-2: var(--default-violet-2); */
}

.author:hover { 
    text-decoration: underline 2px solid var(--app-fg);
}

.tippy-box[data-theme~='dark'] {
    background: rgb(17, 17, 27);
    color: rgb(198, 208, 245);
    font-family: 'Noto Sans', sans-serif;
    margin-left: 0.5rem;
    margin-top: -0.5rem;
}


/* Not sorted :c  */
.tippy-box[data-theme~='dark'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: rgb(17, 17, 27);
}
.tippy-box[data-theme~='dark'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: rgb(17, 17, 27);
}
.tippy-box[data-theme~='dark'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: rgb(17, 17, 27);
}
.tippy-box[data-theme~='dark'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: rgb(17, 17, 27);
}

.tippy-box[data-theme~='dark'] > .tippy-arrow::before {
    transform: scale(0.75);
}

.tippy-box[data-animation=shift-away-subtle][data-state=hidden]{opacity:0}.tippy-box[data-animation=shift-away-subtle][data-state=hidden][data-placement^=top]{transform:translateY(5px)}.tippy-box[data-animation=shift-away-subtle][data-state=hidden][data-placement^=bottom]{transform:translateY(-5px)}.tippy-box[data-animation=shift-away-subtle][data-state=hidden][data-placement^=left]{transform:translateX(5px)}.tippy-box[data-animation=shift-away-subtle][data-state=hidden][data-placement^=right]{transform:translateX(-5px)}